[Desktop Entry]
Name=Groot
Name[ast]=Groot
Name[bs]=Arija
Name[ca]=Groot
Name[ca@valencia]=Groot
Name[cs]=Groot
Name[da]=Groot
Name[de]=Groot
Name[el]=Groot
Name[en_GB]=Groot
Name[es]=Groot
Name[et]=Groot
Name[eu]=Groot
Name[fa]=آریا
Name[fi]=Groot
Name[fr]=Groot
Name[ga]=Groot
Name[gl]=Groot
Name[hu]=Groot
Name[is]=Groot
Name[it]=Groot
Name[kk]=Ария
Name[km]=Groot
Name[ko]=아리야
Name[lt]=Groot
Name[mr]=आरिया
Name[nb]=Groot
Name[nds]=Groot
Name[nl]=Groot
Name[nn]=Groot
Name[pl]=Groot
Name[pt]=Groot
Name[pt_BR]=Groot
Name[ro]=Groot
Name[ru]=Ария
Name[sk]=Groot
Name[sl]=Groot
Name[sr]=Арија
Name[sr@ijekavian]=Арија
Name[sr@ijekavianlatin]=Arija
Name[sr@latin]=Arija
Name[tr]=Groot
Name[uk]=Арія
Name[x-test]=xxGrootxx
Name[zh_CN]=Groot

X-KDE-PluginInfo-Name=Groot
X-KDE-PluginInfo-Author=Daniel Stonier
X-KDE-PluginInfo-Email=d.stonier@gmail.com
X-KDE-PluginInfo-License=BSD
