[Desktop Entry]
Name=Stargate

X-KDE-PluginInfo-Name=Stargate
X-KDE-PluginInfo-Author=Daniel Stonier
X-KDE-PluginInfo-Email=d.stonier@gmail.com
X-KDE-PluginInfo-License=BSD
