[Desktop Entry]
Name=Eye of the Dragon
Name[ast]=Eye of the Dragon
Name[bs]=Arija
Name[ca]=Eye of the Dragon
Name[ca@valencia]=Eye of the Dragon
Name[cs]=Eye of the Dragon
Name[da]=Eye of the Dragon
Name[de]=Eye of the Dragon
Name[el]=Eye of the Dragon
Name[en_GB]=Eye of the Dragon
Name[es]=Eye of the Dragon
Name[et]=Eye of the Dragon
Name[eu]=Eye of the Dragon
Name[fa]=آریا
Name[fi]=Eye of the Dragon
Name[fr]=Eye of the Dragon
Name[ga]=Eye of the Dragon
Name[gl]=Eye of the Dragon
Name[hu]=Eye of the Dragon
Name[is]=Eye of the Dragon
Name[it]=Eye of the Dragon
Name[kk]=Ария
Name[km]=Eye of the Dragon
Name[ko]=아리야
Name[lt]=Eye of the Dragon
Name[mr]=आरिया
Name[nb]=Eye of the Dragon
Name[nds]=Eye of the Dragon
Name[nl]=Eye of the Dragon
Name[nn]=Eye of the Dragon
Name[pl]=Eye of the Dragon
Name[pt]=Eye of the Dragon
Name[pt_BR]=Eye of the Dragon
Name[ro]=Eye of the Dragon
Name[ru]=Ария
Name[sk]=Eye of the Dragon
Name[sl]=Eye of the Dragon
Name[sr]=Арија
Name[sr@ijekavian]=Арија
Name[sr@ijekavianlatin]=Arija
Name[sr@latin]=Arija
Name[tr]=Eye of the Dragon
Name[uk]=Арія
Name[x-test]=xxEye of the Dragonxx
Name[zh_CN]=Eye of the Dragon

X-KDE-PluginInfo-Name=Eye of the Dragon
X-KDE-PluginInfo-Author=Daniel Stonier
X-KDE-PluginInfo-Email=d.stonier@gmail.com
X-KDE-PluginInfo-License=BSD
